* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(30, 30, 30);
}

#navbar {
	position: fixed;
	top: 0px;
	display: inline-flex;
	width: 100%;
	z-index: 999;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(60, 60, 60);
}

#nav-links {
	flex: 1;
	text-align: right;
}

#nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 16px;
	position: relative;
}

#nav-links ul li a {
	color: rgb(204, 204, 204);
	text-decoration: none;
	font-family: 'Share Tech Mono', monospace;
	font-size: 20px;
}

#nav-links ul li a:hover {
	color: rgb(215, 181, 108);
}

.logo {
	font-family: 'Poppins', sans-serif;
	font-size: xx-large;
	font-weight: bold;
	padding-left: 16px;
	color: rgb(204, 204, 204);
	text-decoration: none;
}

.logo:hover {
	color: rgb(215, 181, 108);
}

.header-bold {
	font-family: 'Poppins', sans-serif;
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 20px;
	color: rgb(204, 204, 204);
}

.section-header-bold {
	font-family: 'Poppins', sans-serif;
	font-size: xx-large;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	color: rgb(204, 204, 204);
}

.medium-text {
	font-family: 'Poppins', sans-serif;
	font-size: x-large;
	color: rgb(204, 204, 204);
}

.common-text {
	font-family: 'Poppins', sans-serif;
	font-size: large;
	color: rgb(204, 204, 204);
}

#footer {
	display: inline-flex;
	margin-top: 100px;
	height: 100px;
	width: 100%;
	align-items: center;
	background-color: rgb(60, 60, 60);
}

#footer #contact {
	padding-left: 30px;
}

#email img {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
}

#email a {
	margin-left: 10px;
	text-decoration: none;
}

#email a:hover {
	text-decoration: underline;
	color: rgb(215, 181, 108);
}

#socmed-links {
	margin-left: auto;
	margin-right: 30px;
}

#socmed-links p {
	display: inline-block;
	vertical-align: middle;
}

#socmed-links a {
	text-decoration: none;
}

#socmed-links a img {
	width: 40px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

#socmed-links a img:last-child {
	display: none;
}

#socmed-links a:hover img:last-child {
	display: inline-block;
}

#socmed-links a:hover img:first-child {
	display: none;
}
